// Variables
@theme-primary:    #9F1D11;
@theme-danger: #ab3e1d;

@white:							#ffffff;
@gray-base:        #000;
@gray-darker:      lighten(@gray-base, 13.5%); // #222
@gray-dark:        lighten(@gray-base, 20%);   // #333
@gray:             lighten(@gray-base, 33.5%); // #555
@gray-light:       lighten(@gray-base, 46.7%); // #777
@gray-lighter:     lighten(@gray-base, 93.5%); // #eee

// intro heading
@head-color:	#ffffff;
@name-color:	#999999;
